{% extends "base.html" %}
{% block content %}
<h2>Lista de Clientes</h2>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Monto</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.dni_Cliente }}</td>
            <td>{{ cliente.nom_Cliente }}</td>
            <td>{{ cliente.email_Cliente }}</td>
            <td>{{ cliente.monto_Cliente }}</td>
            <td>{{ cliente.tlf_Cliente }}</td>
            <td>
                <a href="/editarCli/{{cliente.dni_Cliente}}" class="btn btn-warning btn-sm">Editar</a>
                <a href="/eliminarCli/{{cliente.dni_Cliente}}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
