{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="card p-4" style="width: 400px;">
        <h3 class="text-center">Editar de Clientes</h3>
        <form action="/editarCliente/" method="POST">{% csrf_token %}
            <div class="mb-3">
                <label for="txtdni" class="form-label">DNI</label>
                <input type="text" id="txtdni" name="txtdni" value="{{cliente.dni_Cliente}}" class="form-control" placeholder="DNI" readonly required>
            </div>
            <div class="mb-3">
                <label for="txtnombre" class="form-label">Nombre</label>
                <input type="text" id="txtnombre" name="txtnombre" value="{{ cliente.nom_Cliente }}" class="form-control" placeholder="Nombre">
            </div>
            <div class="mb-3">
                <label for="txtemail" class="form-label">Email</label>
                <input type="email" id="txtemail" name="txtemail" value="{{cliente.email_Cliente}}"class="form-control" placeholder="Email">
            </div>
            <div class="mb-3">
                <label for="txtmonto" class="form-label">Monto</label>
                <input type="text" id="txtmonto" name="txtmonto" value="{{cliente.monto_Cliente}}" class="form-control" placeholder="Monto">
            </div>
            <div class="mb-3">
                <label for="txttelefono" class="form-label">Teléfono</label>
                <input type="text" id="txttelefono" name="txttelefono" value="{{cliente.tlf_Cliente}}" class="form-control" placeholder="Teléfono">
            </div>
            <div class="d-flex justify-content-between">
                <a href="/clientes" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}